:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #375a7f; /* Dark mode primary */
        --secondary-color: #444950; /* Dark mode secondary */
        --background-color: #1e1e2f;
        --text-color: #ffffff;
    }
}